@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input,
textarea {
  @apply outline-none;
}

.purple-btn {
  @apply rounded-full flex justify-center items-center bg-purple text-white flex-grow md:flex-1 h-10 md:h-[3.75rem] md:text-lg font-medium transition-all whitespace-nowrap truncate;
}
.purple-btn:hover {
  @apply -translate-y-1;
  filter: drop-shadow(0px 26px 45px rgba(165, 141, 255, 0.3));
}

.circle {
  @apply absolute h-[457px] w-[457px] rounded-full opacity-75 z-[-1];
}

.made-by {
  filter: drop-shadow(0 1px 6px rgba(255, 255, 255, 0.4));
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline:before,
.underline:after {
  @apply bg-purple;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}

.underline:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.underline:after {
  opacity: 0;
  transform: translateY(8px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.underline:hover:before {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.underline:hover:after {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}
